/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
.mdStyle {
    /* font-size: 62.5%; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.mdStyle {
    /* font-size: 1.8rem; */
    /* line-height: 1.618; */
    /* max-width: 38em; */
    /* margin: auto; */
    color: #4a4a4a;
    /* background-color: #f9f9f9; */
    /* padding: 13px; */
}

/* @media (max-width: 684px) {
    .mdStyle {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    .mdStyle {
        font-size: 1.35rem;
    }
} */

.mdStyle h1,
.mdStyle h2,
.mdStyle h3,
.mdStyle h4,
.mdStyle h5,
.mdStyle h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

.mdStyle h1 {
    font-size: 2.35em;
}

.mdStyle h2 {
    font-size: 2em;
}

.mdStyle h3 {
    font-size: 1.75em;
}

.mdStyle h4 {
    font-size: 1.5em;
}

.mdStyle h5 {
    font-size: 1.25em;
}

.mdStyle h6 {
    font-size: 1em;
}

.mdStyle p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.mdStyle small,
.mdStyle sub,
.mdStyle sup {
    font-size: 75%;
}

.mdStyle hr {
    border-color: #1d7484;
}

.mdStyle a {
    text-decoration: none;
    color: #1d7484;
}

.mdStyle a:visited {
    color: #144f5a;
}

.mdStyle a:hover {
    color: #982c61;
    /* border-bottom: 2px solid #4a4a4a; */
}

.mdStyle ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.mdStyle li {
    margin-bottom: 0.4em;
    overflow-x: scroll;
}

.mdStyle blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #1d7484;
    margin-bottom: 2.5rem;
    background-color: #f1f1f1;
}

.mdStyle blockquote p {
    margin-bottom: 0;
}

.mdStyle img,
.mdStyle video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/* Pre and Code */
.mdStyle pre {
    background-color: #f1f1f1;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    font-size: 0.9em;
}

.mdStyle code,
.mdStyle kbd,
.mdStyle samp {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #f1f1f1;
    white-space: pre-wrap;
}

.mdStyle pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    font-size: 1em;
}

/* Tables */
.mdStyle table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

.mdStyle td,
.mdStyle th {
    padding: 0.5em;
    border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
.mdStyle input,
.mdStyle textarea {
    border: 1px solid #4a4a4a;
}

.mdStyle input:focus,
.mdStyle textarea:focus {
    border: 1px solid #1d7484;
}

.mdStyle textarea {
    width: 100%;
}

.mdStyle .button,
.mdStyle button,
.mdStyle input[type=submit],
.mdStyle input[type=reset],
.mdStyle input[type=button] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1d7484;
    color: #f9f9f9;
    border-radius: 1px;
    border: 1px solid #1d7484;
    cursor: pointer;
    box-sizing: border-box;
}

.mdStyle .button[disabled],
.mdStyle button[disabled],
.mdStyle input[type=submit][disabled],
.mdStyle input[type=reset][disabled],
.mdStyle input[type=button][disabled] {
    cursor: default;
    opacity: 0.5;
}

.mdStyle .button:focus:enabled,
.mdStyle .button:hover:enabled,
.mdStyle button:focus:enabled,
.mdStyle button:hover:enabled,
.mdStyle input[type=submit]:focus:enabled,
.mdStyle input[type=submit]:hover:enabled,
.mdStyle input[type=reset]:focus:enabled,
.mdStyle input[type=reset]:hover:enabled,
.mdStyle input[type=button]:focus:enabled,
.mdStyle input[type=button]:hover:enabled {
    background-color: #982c61;
    border-color: #982c61;
    color: #f9f9f9;
    outline: 0;
}

.mdStyle textarea,
.mdStyle select,
.mdStyle input {
    color: #4a4a4a;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.mdStyle textarea:focus,
.mdStyle select:focus,
.mdStyle input:focus {
    border: 1px solid #1d7484;
    outline: 0;
}

.mdStyle input[type=checkbox]:focus {
    outline: 1px dotted #1d7484;
}

.mdStyle label,
.mdStyle legend,
.mdStyle fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}


@media (prefers-color-scheme: dark) {
    /* $color-text: #dedce5; */
    /* Sakura.css v1.4.1
    * ================
    * Minimal css theme.
    * Project: https://github.com/oxalorg/sakura/
    */
    /* Body */
    .mdStyle {
        /* font-size: 62.5%; */
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    }

    .mdStyle {
        /* font-size: 1.8rem; */
        /* line-height: 1.618; */
        /* max-width: 38em; */
        /* margin: auto; */
        color: #c9c9c9;
        /* background-color: #222222; */
        /* padding: 13px; */
    }

    /* @media (max-width: 684px) {
        .mdStyle {
            font-size: 1.53rem;
        }
    } */

    /* @media (max-width: 382px) {
        .mdStyle {
            font-size: 1.35rem;
        }
    } */

    .mdStyle h1,
    .mdStyle h2,
    .mdStyle h3,
    .mdStyle h4,
    .mdStyle h5,
    .mdStyle h6 {
        line-height: 1.1;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
    }

    .mdStyle h1 {
        font-size: 2.35em;
    }

    .mdStyle h2 {
        font-size: 2em;
    }

    .mdStyle h3 {
        font-size: 1.75em;
    }

    .mdStyle h4 {
        font-size: 1.5em;
    }

    .mdStyle h5 {
        font-size: 1.25em;
    }

    .mdStyle h6 {
        font-size: 1em;
    }

    .mdStyle p {
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }

    .mdStyle small,
    .mdStyle sub,
    .mdStyle sup {
        font-size: 75%;
    }

    .mdStyle hr {
        border-color: #ffffff;
    }

    .mdStyle a {
        text-decoration: none;
        color: #ffffff;
    }

    .mdStyle a:visited {
        color: #e6e6e6;
    }

    .mdStyle a:hover {
        color: #c9c9c9;
        /* border-bottom: 2px solid #c9c9c9; */
    }

    .mdStyle ul {
        padding-left: 1.4em;
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }

    .mdStyle li {
        margin-bottom: 0.4em;
        overflow-x: scroll;
    }

    .mdStyle blockquote {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 1em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        padding-right: 0.8em;
        border-left: 5px solid #ffffff;
        margin-bottom: 2.5rem;
        background-color: #4a4a4a;
    }

    .mdStyle blockquote p {
        margin-bottom: 0;
    }

    .mdStyle img,
    .mdStyle video {
        height: auto;
        max-width: 100%;
        margin-top: 0px;
        margin-bottom: 2.5rem;
    }

    /* Pre and Code */
    .mdStyle pre {
        background-color: #4a4a4a;
        display: block;
        padding: 1em;
        overflow-x: auto;
        margin-top: 0px;
        margin-bottom: 2.5rem;
        font-size: 0.9em;
    }

    .mdStyle code,
    .mdStyle kbd,
    .mdStyle samp {
        font-size: 0.9em;
        padding: 0 0.5em;
        background-color: #4a4a4a;
        white-space: pre-wrap;
    }

    .mdStyle pre>code {
        padding: 0;
        background-color: transparent;
        white-space: pre;
        font-size: 1em;
    }

    /* Tables */
    .mdStyle table {
        text-align: justify;
        width: 100%;
        border-collapse: collapse;
    }

    .mdStyle td,
    .mdStyle th {
        padding: 0.5em;
        border-bottom: 1px solid #4a4a4a;
    }

    /* Buttons, forms and input */
    .mdStyle input,
    .mdStyle textarea {
        border: 1px solid #c9c9c9;
    }

    .mdStyle input:focus,
    .mdStyle textarea:focus {
        border: 1px solid #ffffff;
    }

    .mdStyle textarea {
        width: 100%;
    }

    .mdStyle .button,
    .mdStyle button,
    .mdStyle input[type=submit],
    .mdStyle input[type=reset],
    .mdStyle input[type=button] {
        display: inline-block;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        background-color: #ffffff;
        color: #222222;
        border-radius: 1px;
        border: 1px solid #ffffff;
        cursor: pointer;
        box-sizing: border-box;
    }

    .mdStyle .button[disabled],
    .mdStyle button[disabled],
    .mdStyle input[type=submit][disabled],
    .mdStyle input[type=reset][disabled],
    .mdStyle input[type=button][disabled] {
        cursor: default;
        opacity: 0.5;
    }

    .mdStyle .button:focus:enabled,
    .mdStyle .button:hover:enabled,
    .mdStyle button:focus:enabled,
    .mdStyle button:hover:enabled,
    .mdStyle input[type=submit]:focus:enabled,
    .mdStyle input[type=submit]:hover:enabled,
    .mdStyle input[type=reset]:focus:enabled,
    .mdStyle input[type=reset]:hover:enabled,
    .mdStyle input[type=button]:focus:enabled,
    .mdStyle input[type=button]:hover:enabled {
        background-color: #c9c9c9;
        border-color: #c9c9c9;
        color: #222222;
        outline: 0;
    }

    .mdStyle textarea,
    .mdStyle select,
    .mdStyle input {
        color: #c9c9c9;
        padding: 6px 10px;
        /* The 6px vertically centers text on FF, ignored by Webkit */
        margin-bottom: 10px;
        background-color: #4a4a4a;
        border: 1px solid #4a4a4a;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
    }

    .mdStyle textarea:focus,
    .mdStyle select:focus,
    .mdStyle input:focus {
        border: 1px solid #ffffff;
        outline: 0;
    }

    .mdStyle input[type=checkbox]:focus {
        outline: 1px dotted #ffffff;
    }

    .mdStyle label,
    .mdStyle legend,
    .mdStyle fieldset {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
}
